body {
    background: linear-gradient(90deg, #c2c2c2 0%, #fff1e2 50%, #c2c2c2 100%);

    margin: 0;
    padding: 0;
    height: 100%;

    font-family: "Verdana", sans-serif;
}

.auth {
    margin: auto auto auto auto;
    background: bisque;
    border-radius: 25px;
    border: 2px groove black;
    padding: 10px 20px 30px 20px;
    height: auto;
    width: 350px;
    box-shadow: 10px 10px 10px #888888;
}

.auth input {
    padding: 10px;
    background: whitesmoke;
    width: 90%;
}

.auth input[type="submit"]:hover {
    background-color: whitesmoke;
}

#registration {
    height: 530px;
}

.links:link {
    text-decoration: none;
    color: #4d4d4d;
}

.links:hover {
    text-decoration: none;
    color: #707070;
}

.links:visited {
    text-decoration: none;
    color: #4d4d4d;
}

.links:active {
    text-decoration: none;
    color: #4d4d4d;
}

#registerbutton {
    position: relative;
    bottom: -30px;
    font-size: 22px;
}

#homeboxes {
    justify-content: space-between;
}

.content-box {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 80%
}

.header {
    position: sticky;
    padding: 10px;
    height: 150px;
    width: 80%;
    margin: auto;
    text-align: center;
    background: #1abc9c;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#headerimg {
    float: left;
}

.headerbuttons {
    font-size: large;
    text-decoration: none;
    color: darkblue;
}

.headerbuttons:hover {
    color: blue;
}

#headerbuttonsdiv {
    justify-content: center;
    display: flex;
    gap: 2%;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 50px;
    margin-right: auto;
    text-align: left;
    max-font-size: 50px;
}

.forgotten_box_content
{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    padding: 10px;
    height: 100px;
    width: 80%;
    margin: auto;
    background: #1abc9c;
    justify-content: space-between;

    bottom: 0;
    left: 0;
    right: 0;

    /*border-top: 1px solid black;*/
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

.forgotten_button
{
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 0 0 5px 0;

    text-shadow: 1px 1px gray;
}

.forgotten_button_container
{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 45px;
}

.forgotten_line_container
{
    display: flex;
}

.forgotten_line_left
{
    width: 50%;
    height: 4px;
    background-color: black;
    margin-top: 5px;

    border: none;
}

.forgotten_line_right
{
    width: 50%;
    height: 1px;
    background-color: black;

    border: none;
}

input::placeholder {
    font-family: "Verdana", sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px gray;
}

#forgotten_send
{
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-shadow: 1px 1px gray;
    background-color: beige;

    display: block;
    cursor: pointer;
    transition: background-color 100ms;

    /*margin-top: 20px;*/

    border-radius: 5px;
}

#forgotten_send:hover
{
    background-color: white;
}

#forgotten_back
{
    width: 60px;
    height: 40px;
    font-size: 15px;
    text-shadow: 1px 1px gray;
    padding: 0;
    background-color: transparent;

    display: block;
    cursor: pointer;
    transition: background-color 100ms;

    border: none;
    /*margin-top: 20px;*/
}

#forgotten_back:hover
{
    background-color: rgba(255, 255, 255, 50%);
}

.forgotten_buttons_div
{
    display: flex;
    justify-content: space-between;

    padding-right: 10px;
}

.forgotten_h3
{
    padding-left: 5px;
    text-shadow: 1px 1px gray;
}

.register_checkboxes
{
    display: flex;
    gap: 10px;
    margin: 0 10px 15px 0;
}

input[type="checkbox"]
{
    min-width:13px;
    height: 20px;

    border: 0.25rem solid green;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px black;
}

input[type="checkbox"] + label
{
    font-family: "Verdana", sans-serif bold;
    font-size: 15px;

    text-shadow: 0 1px gray;
}

#contact {
    text-align: left;
}

#letsgo {
    text-decoration: none;
    color: darkblue;
    font-size: x-large;
    text-align: right;
    margin: auto;
}